<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>PawFinders</title>
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />

    <link
      type="text/css"
      rel="stylesheet"
      href="css/materialize.min.css"
      media="screen,projection"
    />
    <link rel="stylesheet" href="css/profile.css" />
  </head>
  <body>
    <nav style="margin: 0%;">
      <div class="nav-wrapper navy-blue" style="background-color: #2d807e; ">
        <a class="brand-logo" style="padding-left: 1%; padding-top: 0.3%;">PawFinders</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a href="/dashboard" style="font-weight: normal; padding: 0; text-decoration: none;">Home</a></li>
          <li><a href="about.html"style="font-weight: normal; padding: 0; text-decoration: none;">About Us</a></li>
          <li><a href="galery.html" style="font-weight: normal; padding: 0; text-decoration: none;">Gallery</a></li>
          <li ><a href="findsitter.html" style="font-weight: normal; padding: 0; text-decoration: none;">Find a Sitter</a></li>
          <li><a id="viewBookingsLink" style="font-weight: normal; padding: 0; text-decoration: none;">View bookings</a></li>
          <li><a href="javascript:void(0);" id="logoutLink" style="font-weight: normal; padding: 0;text-decoration: none;">Logout</a></li>
        </ul>
      </div>
    </nav>
    </header>
    <div class="container">
      <div id="welcomeMessage"></div>
    </div>

    <div class="container">
      <h5>Personal Information</h5>
      <div class="profile-info">
        <p><strong>First Name:</strong> <span id="firstName"></span></p>
        <p><strong>Last Name:</strong> <span id="lastName"></span></p>
        <p><strong>Phone:</strong> <span id="phone"></span></p>
        <p><strong>Email:</strong> <span id="email"></span></p>
        <p><strong>Address:</strong> <span id="address"></span></p>
        <p><strong>Suburb:</strong> <span id="suburb"></span></p>
        <p><strong>Postal Code:</strong> <span id="postalCode"></span></p>
      </div>
      <p>
        For any changes to your profile details, please email us at
        <a href="mailto:pawfinder@contact.us">pawfinder@contact.us</a>
      </p>
    </div>

    <!-- Notification popup -->
    <div id="notification" class="notification-popup">
      <span class="close-btn" onclick="closeNotification()">&times;</span>
      <p>You have a notification!</p>
    </div>

    <footer class="navy-blue">
      <p>&copy; 2024 PawFinders</p>
    </footer>
    <script
      type="text/javascript"
      src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"
    ></script>
    <script type="text/javascript" src="js/materialize.min.js"></script>
    <script
      src="https://cdn.socket.io/4.7.5/socket.io.min.js"
      integrity="sha384-2huaZvOR9iDzHqslqwpR87isEmrfxqyWOF7hr7BY6KG0+hVKLoEXMPUJw3ynWuhO"
      crossorigin="anonymous"
    ></script>
    <script type="text/javascript" src="js/socket.js"></script>
    <script type="text/javascript" src="js/profile.js"></script>
    <script type="text/javascript" src="js/common.js"></script>
  </body>
</html>
